body {
    background-color:black;
}
p {
    color:black;
}
ul {
    color:black;
}
.jumbotron {
    background-color: white;
}
h3 {
    text-align:center;
}
.testbox {
    background-color:whitesmoke;
    margin-bottom:8px;
    outline:none;
    border:solid 1px rgb(red, green, blue);
    padding:8px;
    width:100%;
}
p.center {
    color:black;
}