body {
    background-color:black;
}
p {
    color:black;
}
ul {
    color:black;
}
.jumbotron {
    background-color: white;
}
h3 {
    text-align:center;
}
.testbox {
    background-color:whitesmoke;
    margin-bottom:8px;
    outline:none;
    border:solid 1px rgb(red, green, blue);
    padding:8px;
    width:100%;
}
p.center {
    color:black;
    text-align:left;
}
h2 {
    text-align: center;
}
.column {
    width: 700px;
    float:right;
    margin-top: 100px;
    margin-left:10px;
    margin-right: 35px;
    margin-bottom: 100px;
    padding-left: 15px;
    padding-right: 100px;
}